{% extends 'base-template.html' %}

{% block content %}

<h1>Help</h1>

<h2>How to use the Synth</h2>
<p>
	The synth interface is very simple to use. Each note is able to be at any pitch in the C Major scale. Pushing the play button will play a preview of your piece. Pushing the export button will allow you to download the piece as either a .wav for listening and sharing or a .cowbell to save and edit your piece later. If you wish to extend the length of a note... You can't yet and probaby will never be able to because its too bloody hard to make work.
</p>

{% endblock %}
