{% extends 'base-template.html' %}

{% block content %}
<script src='/static/js/jquery.js'></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script>
jQuery(document).ready(function ()
    {
        $("input[name='project']").change(radioValueChanged);
    })
    function radioValueChanged(){
    radioValue = $(this).val();
    console.log(radioValue)
    document.project_list.action = "/get_project/{{ uid }}/" + radioValue;
    }
</script>
<form id="project_list" action="dummy">
    {% for tuple in projects %}
    		<input type="radio" name="project" value="{{ tuple[2] }}" required> Project Name: {{ tuple[1] }} Creation Date: {{ tuple[0] }}<br>
    {% endfor %}
    <input type="submit" value="Select this project" style="width: 75px;">
</form>
{% endblock %}
