{% extends 'base-template.html' %}

{% block content %}

<h1>The Synth</h1>
<form>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<!-- LIVE PLAYBLACK SCRIPT AND OBJECT -->
<script>
	function play_preview(){
		var slider_values = [];
		for (i = 0; i < document.getElementsByClassName('individualslider').length; i++) {
			slider_values.push(document.getElementById("slider" + i).value);
		}
        var slider_string = slider_values.join('');
		$.getJSON($SCRIPT_ROOT + "/preview", {
            param_send: slider_string
        }, function(data){
        var audio_source = data.previewname
		document.getElementById('preview_audio').src = audio_source;
		preview_audio.play();
	})}
	window.addEventListener("DOMContentLoaded", function(event) {
		document.getElementById("play_button").addEventListener("click", play_preview);
	})
</script>
<script>
	window.addEventListener("DOMContentLoaded", function(event) {
		document.getElementById("stop_button").addEventListener("click", stop_preview);
	});
	function stop_preview(){
		preview_audio.pause();
		preview_audio.currentTime = 0;
	}
</script>
	<input type="button" value="Play" class="controlbuttons" id="play_button"/>
	<input type="button" value="Stop" class="controlbuttons" id="stop_button"/>
</form>
<audio id="preview_audio" src="../static/song_previews/dummy.wav" ></audio>


<!-- Link button script -->
<script type="text/javascript">
	function linkNote(linkButton) {
		console.log("changed");
	}
	for (i = 0; i <= document.getElementsByClassName('synthbuttons').length; i++) {
		window.addEventListener("DOMContentLoaded", function(event) {
			document.getElementById("linkbutton" + i).addEventListener("change", linkNote(i));
		})
	}
	console.log('hi');
</script>

<!-- Slider GUI -->
<form id="synthform" action="/exported" method="POST">
	<div id="sliders">
		{% for i in range(notes|int) %}
		<div class="individualslider">
			<input type="range" orient="vertical" step="1" max="7" min="0" value="0" style="padding: 0 2.3%;" name="slider{{i}}" id="slider{{i}}"/>
			<!-- Synth Buttons -->
			{% if i != notes|int - 1 %}
			<input type="checkbox" value="Link" class="synthbuttons" name="linkbutton{{i}}" id="linkbutton{{i}}" title="Link notes together to create longer notes" />
			{% endif %}
			
		</div>
		{% endfor %}
	</div>

	<input type="submit" name="exporttowav" value="Export to WAV">
</form>

{% endblock %}
