{% extends 'base-template.html' %}

{% block content %}

<h1>The Synth</h1>
<form>

<script type="text/javascript">
<!--
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
//-->
</script>

<!-- LIVE PLAYBLACK SCRIPT AND OBJECT -->
<script type="text/javascript">
<!--
	function play_preview(){
		var slider_values = [];
		for (i = 0; i < document.getElementsByClassName('individualslider').length; i++) {
			slider_values.push(document.getElementById("slider" + i).value);
		}
        var slider_string = slider_values.join('');
		$.getJSON($SCRIPT_ROOT + "/preview", {
            param_send: slider_string
        }, function(data){
        var audio_source = data.previewname
		document.getElementById('preview_audio').src = audio_source;
		preview_audio.play();
	})}
	window.addEventListener("DOMContentLoaded", function(event) {
		document.getElementById("play_button").addEventListener("click", play_preview);
	})
//-->
</script>
<script type="text/javascript">
<!--
	window.addEventListener("DOMContentLoaded", function(event) {
		document.getElementById("stop_button").addEventListener("click", stop_preview);
	});
	function stop_preview(){
		preview_audio.pause();
		preview_audio.currentTime = 0;
	}
//-->
</script>
	<input type="button" value="Play" class="controlbuttons" id="play_button"/>
	<input type="button" value="Stop" class="controlbuttons" id="stop_button"/>
</form>
<audio id="preview_audio" src="../static/song_previews/dummy.wav" ></audio>

<!-- Link button script -->
<script type="text/javascript">
<!--
    	function linkNote(linkButton) {
		console.log("changed" + linkButton);
	};
	window.addEventListener("DOMContentLoaded", function(event) {
	for (var i = 0; i < document.getElementsByClassName('synthbuttons').length; i++) {
        	console.log(i)
			document.getElementById("linkbutton" + i).addEventListener('change', function() {
    if(this.checked) {
        console.log(this.id)
        var slider_number = Number(this.id.replace("linkbutton", ""))
        var value_to_place = document.getElementById("slider" + slider_number).value
        document.getElementById("slider" + (slider_number + 1)).value = value_to_place
    }
})
		}
	});
//-->
</script>

<!-- Slider GUI -->
<form id="synthform" action="/exported" method="POST">
	<div id="sliders">
		{% for i in range(notes_no|int) %}
		<div class="individualslider">
			<input type="range" orient="vertical" step="1" max="7" min="0" value={{values_to_set[i]}} style="padding: 0 2.3%;" name="slider{{i}}" />
			<!-- Synth Buttons -->
			{% if i != notes_no|int - 1 %}
			<input type="checkbox" value="Link" class="synthbuttons" name="linkbutton{{i}}" id="linkbutton{{i}}" title="Link notes together to create longer notes" />
			{% endif %}

		</div>
		{% endfor %}
	</div>

	<input type="submit" name="exporttowav" value="Export to WAV">
</form>

{% endblock %}
