{% extends 'base-template.html' %}

{% block content %}

<h1>The Synth</h1>

{% if project_data != None %}
	<p id="projectinfo"><span style="font-weight:bold;">{{ project_data[0][4] }}</span> created by {{ project_data[0][2] }} on {{ project_data[0][3] }}</p>
{% endif %}

<script type="text/javascript" src="/static/js/synth.js"></script>
<script type="text/javascript">$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>

	<form id="controls">
		<input type="button" value="Play" class="controlbuttons" id="play_button"/>
		<input type="button" value="Stop" class="controlbuttons" id="stop_button"/>
	</form>


<audio id="preview_audio" src="../static/song_previews/dummy.wav" ></audio>

<!-- Slider GUI -->
<form id="synthform" action="/exported" method="POST">
	<div id="sliders">
		{% for i in range(notes|int) %}
		<div class="individualslider">
			{% if notes_no != None %}
				<input type="range" orient="vertical" step="1" max="7" min="0" value={{values_to_set[i]}} style="padding: 0 2.3%;" name="slider{{i}}" />
			{% else %}
				<input type="range" orient="vertical" step="1" max="7" min="0" value="0" style="padding: 0 2.3%;" name="slider{{i}}" id="slider{{i}}"/>
			{% endif %}
			<!-- Synth Buttons -->
			{% if i != notes|int - 1 %}
			<input type="hidden" value="0" class="synthbuttonsHidden" name="linkbutton{{i}}" id="linkbutton{{i}}Hidden" title="Link notes together to create longer notes" />
			<input type="checkbox" value="1" class="synthbuttons" name="linkbutton{{i}}" id="linkbutton{{i}}" title="Link notes together to create longer notes" />
			{% endif %}
			
		</div>
		{% endfor %}
	</div>

	<input type="submit" name="exporttowav" value="Export Project" style="margin:0 auto;">
</form>

{% endblock %}
