{% extends 'base-template.html' %}

{% block content %}

<h2 style="text-align: center;">THE SYNTH</h2>

<form>
	<input type="button" value="Play" onclick="msg()" class="controlbuttons" />
	<input type="button" value="Stop" onclick="msg()" class="controlbuttons" />
</form>
<!--<audio src="{{ audiofile }}"></audio>-->

<form id="synthform" action="/exported" method="POST">
	<div id="sliders">
		{% for i in range(notes_no|int) %}
		<div class="individualslider">
			<input type="range" orient="vertical" step="1" max="7" min="0" value={{values_to_set[i]}} style="padding: 0 2.3%;" name="slider{{i}}" />
			{% if i != notes_no|int - 1 %}
			<input type="button" value="Link" onclick="change(this.name)" class="synthbuttons" name="linkbutton{{i}}" />
			{% endif %}

		</div>
		{% endfor %}
	</div>

	<input type="submit" name="exporttowav" value="Export to WAV">
</form>

{% endblock %}
