

body {
	background: url("/static/images/space.jpg");
	font-family: 'Ubuntu', sans-serif;
	color: white;
	--dark-background: rgba(10, 10, 35, 0.8);
	--light-background: rgba(50, 50, 70, 0.8);
}

#wrapper {
	margin: 0 auto;
	width: 90%;
	border: 0 solid;
	border-radius: 25px;
	box-shadow: 0px 0px 15px rgb(250, 250, 255);
	/*text-shadow: 0 0 50px blue;*/
}

header {
	width: 100%;
	height: 100px;
	text-align: center;
	font-family: impact;
	font-size: 20px;
	padding-top: 5px;
	overflow: hidden;
	border: 0 solid;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}


header h1 {
	color: #5f6be4;
	text-shadow: 3px 2px 0px #000e50;
	vertical-align: top;
	display: inline-block;
}

#headercontents {
	margin: 0 auto;
	height: 100%;
	width: 500px;
}

footer {
	width: 100%;
	height: 100px;
	
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	border: 0 solid;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}


/* Gradients on main element backgrounds */
header, footer {
	background: var(--dark-background);
	background: -webkit-linear-gradient(left top, rgba(10, 10, 35, 0.7), rgba(15, 15, 45, 0.9)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, rgba(10, 10, 35, 0.7), rgba(15, 15, 45, 0.9)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, rgba(10, 10, 35, 0.7), rgba(15, 15, 45, 0.9)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, rgba(10, 10, 35, 0.7), rgba(15, 15, 45, 0.9)); /* Standard syntax */
}

.page-content {
	background: var(--light-background);
	background: -webkit-linear-gradient(left top, rgba(50, 50, 70, 0.7), rgba(80, 80, 100, 0.8)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, rgba(50, 50, 70, 0.7), rgba(80, 80, 100, 0.8)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, rgba(50, 50, 70, 0.7), rgba(80, 80, 100, 0.8)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, rgba(50, 50, 70, 0.7), rgba(80, 80, 100, 0.8)); /* Standard syntax */
	width: 100%;
	overflow: hidden;
	padding-left: 5px;
	padding-right: 5px;
	box-sizing: border-box;
	/*display: flex;*/
}

.page-content * {
	width: 100%;
}

.error {
	text-align: center;
	color: red;
}

h1 {
	text-align: center;
	font-size:32px;
}

h2 {
	font-size: 24px;
}

p {
	line-height: 33px;
}

a {
	text-decoration: none;
	display: block;
}

.footertext {

}

#helplink {
	color: #A0A0A0;
	padding: 0;
}


#helplink:hover {
	color: #DDDDDD;
}

#helplink:active {
	color: #FFFFFF;
}


#uploadfile {
	padding-bottom: 40px;
}