

body {
	background: url("/static/images/space.jpg");
	font-family: 'Ubuntu', sans-serif;
	color: white;
	--dark-background: rgba(10, 10, 35, 0.8);
	--light-background: rgba(50, 50, 70, 0.8);
}

#wrapper {
	margin: 0 auto;
	width: 90%;
	border: 0 solid;
	border-radius: 25px;
	box-shadow: 0px 0px 15px rgb(250, 250, 255);
	/*text-shadow: 0 0 50px blue;*/
}

header {
	width: 100%;
	height: 100px;
	text-align: center;
	font-family: impact;
	font-size: 20px;
	padding-top: 5px;
	overflow: hidden;
	border: 0 solid;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}


header h1 {
	color: #5f6be4;
	text-shadow: 3px 2px 0px #000e50;
	vertical-align: top;
	display: inline-block;
}

#headercontents {
	margin: 0 auto;
	height: 100%;
	width: 500px;
}

footer {
	width: 100%;
	height: 100px;
	
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	border: 0 solid;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

header, footer {
	background: var(--dark-background);
	background: -webkit-linear-gradient(left top, rgba(10, 10, 35, 0.7), rgba(15, 15, 45, 0.9)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, rgba(10, 10, 35, 0.7), rgba(15, 15, 45, 0.9)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, rgba(10, 10, 35, 0.7), rgba(15, 15, 45, 0.9)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, rgba(10, 10, 35, 0.7), rgba(15, 15, 45, 0.9)); /* Standard syntax */
}

.page-content {
	background: var(--light-background);
	background: -webkit-linear-gradient(left top, rgba(50, 50, 70, 0.7), rgba(80, 80, 100, 0.8)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, rgba(50, 50, 70, 0.7), rgba(80, 80, 100, 0.8)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, rgba(50, 50, 70, 0.7), rgba(80, 80, 100, 0.8)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, rgba(50, 50, 70, 0.7), rgba(80, 80, 100, 0.8)); /* Standard syntax */
	width: 100%;
	overflow: hidden;
	padding-left: 5px;
	padding-right: 5px;
	box-sizing: border-box;
	/*display: flex;*/
}

.page-content * {
	width: 100%;
}

.error {
	text-align: center;
	color: red;
}

a {
	text-decoration: none;
	display: block;
}

.controlbuttons {
	width: 50%;
	float:left; 
}

#synthform {
	padding-top: 50px;
}

#sliders {
	overflow: auto;
	white-space: nowrap;
}

.individualslider{
	display: inline;
}

input[type=range][orient=vertical] {
	-webkit-appearance: slider-vertical; /* WebKit */
	width: 8px;
	height: 175px;
	display: inherit;
}




/* Tooltips */

/* Tooltip container */
.linktooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.linktooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.linktooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.linktooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}



.synthbuttons {
	width: 50px;
	display: inherit;
}

#downloadButton {
	color: #0b2398;
	background-color: #A5A5FF;
	text-align: center;
	width: 20%;
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
	border: 2px solid;
	border-radius: 4px;
}

#downloadButton:hover {
	color: purple;
}

#downloadButton: {
	color: purple;
}