/* SLIDER SYNTH INTERFACE STYLES */

#controls {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

.controlbuttons {
	/*width: 20%;*/
    order: 1;
    align-self: center;
}

#synthform {
	padding-top: 50px;
}

#sliders {
	overflow: auto;
	white-space: nowrap;
}

.individualslider{
	display: inline;
}

input[type=range][orient=vertical] {
	-webkit-appearance: slider-vertical; /* WebKit */
	width: 8px;
	height: 175px;
	display: inherit;
}





/* Tooltips */

/* Tooltip container */
.linktooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.linktooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.linktooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.linktooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.synthbuttons {
	width: 50px;
	display: inherit;
}

#projectinfo {
    text-align: center;
}