{% extends 'base-template.html' %}

{% block content %}

<h1>Welcome {{ author }}</h1>

<form action="{{ url_for('manageaccount') }}" method="POST">
	<input type="hidden" name="uid" value="{{ uid }}">
	<input type="submit"  name="manageaccountbutton" value="Manage Account"></button>
</form>

<h2>Your Projects</h2>
<ul id="projects">
{% for tuple in projects %}
<li class="project">
	<form method="POST" action="{{ url_for('get_project') }}">
    	<input type="hidden" value="{{ uid }}" name="UID">
		<input type="hidden" value="{{ tuple[2] }}" name="project_ID">
		<button type="submit">{{ tuple[1] }}</button>
		<!-- <a href="get_project/{{ uid }}/{{ tuple[1] }}" class="projectlink">{{ tuple[1] }}</a> -->
	</form>
</li>
{% endfor %}
</ul>

{% endblock %}